@use "./components/variable";
@use "./components/global-variables";
@use "./components/back-to-top";
@use "./components/arabic-v";
@use "./components/header";
@use "./components/bio";
@use "./components/skills";
@use "./components/media";
@use "./components/projects";
@use "./components/clients";
@use "./components/contact";
@use "./components/footer";
@use "./components/theme";
@use "./components/responsive";
