.bio {
  height: calc(100vh - 85.89px);
}

.bio .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: calc(100vh - 85.89px);
}

.bio .container .content .bio__data {
  flex: 1;
}

.bio .container .bio__data .job_title {
  font-size: var(--font-size-70);
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.bio .container .bio__data .description {
  font-size: var(--font-size-18);
  line-height: 1.6;
  margin: 1rem 0;
  color: var(--color-gray);
  text-transform: capitalize;
}

.bio .container .content .bio__data .sayHI,
.bio .container .content .bio__data .cv {
  margin-top: 50px;
  padding: 5px 20px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-22);
  transition: var(--main-transition);
  border-radius: 0.8rem;
}

.bio .container .content .bio__data .sayHI {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid #777;
}

.bio .container .content .bio__data .sayHI:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.bio .container .content .bio__data .cv {
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid #777;
  perspective: 600px;
}

.bio .container .content .bio__data .cv:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.bio .container .content .bio__data .cv i {
  transform-style: preserve-3d;
  display: inline-block;
}

.bio .container .content .bio__data .cv:hover > i {
  animation: click 0.9s linear infinite;
}

@keyframes click {
  0%,
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: rotateX(25deg) rotateY(-12deg);
  }
}

/*img*/
.bio .bio_pic {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.bio .bio_pic img {
  width: 455px;
}

.bio .bio_pic::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 20px;
  z-index: -1;
}

.bio .bio_pic::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(
    to top,
    rgba(35, 116, 225, 0.5),
    transparent
  );
  transition: var(--main-transition);
}

.bio .bio_pic:hover::before {
  height: 70%;
  background-image: linear-gradient(
    to top,
    rgba(35, 116, 225, 0.8),
    transparent
  );
}
