.contact .content {
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 1rem;
  box-shadow: 1px 0px 5px #7777773d;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact .content > * {
  flex: 1;
}
.contact .contact__form {
  background-image: linear-gradient(276deg, #777 -210%, transparent);
  padding: 0.7rem;
  border-radius: inherit;
}
html[lang="ar"] .contact .contact__form {
  background-image: linear-gradient(88deg, #777 -210%, transparent);
  padding: 0.7rem;
  border-radius: inherit;
}
.contact .content .contact__text {
  min-width: 412px;
  text-transform: capitalize;
  font-size: var(--font-size-20);
  letter-spacing: 1.5px;
  line-height: 1.5;
  color: #777;
}

.contact .content .contact__text .contact__text-link .contact__text-link-anchr {
  padding: 1rem;
  color: var(--color-dark-blue);
  border: 0px solid #777;
  border-radius: 3rem;
  transition: 0.1s;
  font-weight: var(--font-weight-medium);
}

.contact
  .content
  .contact__text
  .contact__text-link
  .contact__text-link-anchr:hover {
  color: var(--color-darker-blue);
}

.contact .content .contact__text .contact__text-icon .icon__list {
  display: flex;
  gap: 1rem;
}

.contact .content .contact__text .contact__text-icon .icon__list i.fa-linkedin {
  color: #0a66c2;
}

.contact .content .contact__text .contact__text-icon .icon__list i.fa-github {
  color: #181717;
}

.contact .content .contact__text .contact__text-icon .icon__list i.fa-twitter {
  color: #1da1f2;
}

.contact .content .contact__text .contact__text-icon .icon__list i.fa-envelope {
  color: #ea4335;
}

.contact .content .contact__text .contact__text-icon .icon__list a:hover i {
  transform: scale(1.2);
  transition: 0.3s ease;
  opacity: 0.8;
}

/*start form artical*/
.contact .content .contact__form .contact__form-header {
  text-align: center;
}

.contact .content .contact__form .form__container {
  margin-top: 10rem;
}

.contact .content .contact__form .form__container input,
.contact .content .contact__form .form__container textarea {
  padding: 1rem 1rem 0.3rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  border-radius: 1rem;
}

.contact .content .contact__form .form__container input {
  margin-right: 2rem;
}

.contact .content .contact__form .form__container textarea {
  margin-top: 1rem;
  width: 100%;
  resize: none;
}

.contact .content .contact__form .form__container .submit {
  text-transform: capitalize;
  padding: 1rem 2rem;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--font-size-18);
  cursor: pointer;
  border: 1px solid #777;
  transition: var(--main-transition);
}

.contact .content .contact__form .form__container .submit:hover {
  background-color: var(--color-white);
  border: 1px solid #777;
  color: #000;
}
