.projects {
  margin-top: var(--main-top-margin);
  background-color: var(--color-grey);
  padding: 5rem;
  position: relative;
  z-index: 0;
}

.projects .projects__item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 6rem;
}

.projects .container .content .projects__item:first-child {
  margin-bottom: 100px;
}

/*projects__one-img*/
.projects .projects__item {
  position: relative;
  transition: var(--main-transition);
}

/* animation for sudo element  
.projects .projects__item:hover::before {
    animation: shap 1s 1;
    animation-fill-mode:;
}
.projects .projects__item:hover::after {
    animation: slideUp 1s 1;
    animation-fill-mode: backwards;
}
.projects .projects__item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-image: linear-gradient(to top , rgba(35, 116, 225, 0.8),
        transparent);
    z-index: 1;
    transition: var(--main-transition);
}

.projects .projects__item::after {
    content:"project one";
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-bold);
    color:var(--color-grey);
    transition: var(--main-transition);
    z-index: 2;
    opacity: 0;
}
@keyframes shap{
    0% , 50%{
        height: 50%;
    }
    100%{
        height: 0;
    }
}
@keyframes slideUp {
    0%,50% {
        transform:translateX(-135px) translateY(-102px);
        opacity: 1;
    }

    100% {
        transform: translateX(-135px) translateY(0);
        opacity: 0;
    }
}
/*animation for sudo element 
*/
.projects .projects__item .projects__img {
  overflow: hidden;
  border-radius: 0.9rem;
  transition: var(--main-transition);
  box-shadow: 0px 0px 0px var(--color-grey);
}

.projects .projects__item .projects__img:hover {
  box-shadow: 1px 1px 7px var(--color-black);
}

.projects .projects__item .projects__img .projects__img-image {
  max-width: 100%;
  filter: brightness(0.7);
  transition: var(--main-transition);
}

.projects .projects__item .projects__img:hover .projects__img-image {
  transform: rotate(1deg) scale(1.1);
  filter: brightness(1);
}

/*project__one-content*/
.projects .projects__item .projects__content {
  margin: auto 0;
}

.projects
  .projects__item
  .projects__content
  .projects__content-header
  .projects__content-header-text {
  font-size: var(--font-size-38);
  user-select: none;
}

.projects .projects__item .projects__content .projects__text {
  margin-top: 1rem;
  text-transform: capitalize;
}

.projects
  .projects__item
  .projects__content
  .projects__text
  .projects__text-txt,
.projects
  .projects__item
  .projects__content
  .projects__text
  .projects__text-link {
  color: gray;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  font-size: 2rem;
}

.projects
  .projects__item
  .projects__content
  .projects__text
  .projects__text-link
  .projects__text-link-anchor {
  padding: 1rem;
  color: var(--color-dark-blue);
  border: 0px solid #777;
  border-radius: 3rem;
  transition: 0.1s;
  font-weight: var(--font-weight-medium);
}

.projects
  .projects__item
  .projects__content
  .projects__text
  .projects__text-link
  .projects__text-link-anchor:hover {
  color: var(--color-darker-blue);
}
