@media (max-width: 992px) {
  .bio .container .content .bio__data {
    text-align: center;
  }

  .bio .bio_pic {
    display: none;
  }

  /*init header for burger menu*/
  .header {
    padding: 0rem 0;
    position: sticky;
    top: 0;

    background-color: none;
    border-bottom: 0px solid var(--color-input-border);
    box-shadow: 0px 0px 0px;
    border-radius: 0 0 0rem 0rem;
  }

  .header .container {
    background-color: #fff;
    border-bottom: 1px solid var(--color-input-border);
    box-shadow: 1px 1px 10px #777;
    border-radius: 0 0 1rem 1rem;
  }

  /*burger menu*/
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.7rem;
    margin: 4.5rem;
  }

  .burger-menu__bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: var(--color-text);
    transition: var(--main-transition);
  }

  .header:has(.burger-menu__checkbox:checked)
    .burger-menu
    .burger-menu__bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .header:has(.burger-menu__checkbox:checked)
    .burger-menu
    .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }

  .header:has(.burger-menu__checkbox:checked)
    .burger-menu
    .burger-menu__bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .small-width {
    position: absolute;
    z-index: -1;
    gap: 1.5rem;
    padding: 1rem;
    transition: var(--main-transition);
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 10px;
  }

  .header:has(.burger-menu__checkbox:checked) .small-width {
    transform: translateY(84px);
  }
}

@media (max-width: 859px) {
  .projects .projects__item .projects__img {
    padding: 3.5rem;
    background-color: #a9a9a95b;
  }

  .projects .projects__item .projects__img .projects__img-image {
    border-radius: inherit;
  }

  .contact .content {
    text-align: center;
  }

  .contact .content .contact__text .contact__text-icon .icon__list {
    justify-content: center;
  }
}

@media (max-width: 860px) {
  .header .arabic_v {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .small-width {
    flex-direction: column;
    gap: 0;
    align-items: self-start;
    width: 100%;
    padding-left: 5rem;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 10px;
    transform: translateY(-125px);
  }

  .header .small-width nav ul {
    flex-direction: column;
  }

  .header:has(.burger-menu__checkbox:checked) .small-width {
    transform: translateY(230px);
  }
}

@media (max-width: 445px) {
  .bio .container .bio__data .job_title {
    font-size: 5.5rem;
  }

  .contact .content .contact__text {
    min-width: auto;
  }

  .section__header {
    font-size: 3.9rem;
  }

  .skills,
  .projects {
    padding: 1rem;
  }

  .projects .projects__item .projects__img {
    padding: 1rem;
  }
}

@media (max-width: 728px) {
  .contact .contact__form {
    background-image: linear-gradient(4deg, #777 -210%, transparent);
  }
}
