.skills {
  margin-top: var(--main-top-margin);
  background-color: var(--color-grey);
  padding: 5rem;
  position: relative;
  z-index: 0;
}

.skills .Technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.skills .Technologies .card {
  text-align: center;
  text-transform: capitalize;
  background-color: var(--color-white);
  padding: 2rem 0;
  border-radius: 12px;
  position: relative;
  box-shadow: 1px 1px;

  transition: var(--main-transition);
}

.skills .Technologies .card:before,
.skills .Technologies .card:after {
  content: "";
  content: "";
  position: absolute;
  background-color: blue;
  width: calc(100% + 0.3rem);
  height: 0%;
  border-radius: inherit;
  transition: var(--main-transition);
  z-index: -1;
}

.skills .Technologies .card:before {
  top: 0;
  left: 0;
}

.skills .Technologies .card:after {
  bottom: 0;
  right: 0;
}

.skills .Technologies .card:hover {
  box-shadow: 1px 1px 5px black;
}

.skills .Technologies .card:hover::before,
.skills .Technologies .card:hover::after {
  height: 100%;
}

.skills .Technologies .card .tech__icon {
  font-size: var(--font-size-70);
}

/*color of icons*/

/* HTML */
.skills .Technologies .card .tech__icon i.fa-html5 {
  color: #e34f26;
}

/* CSS */
.skills .Technologies .card .tech__icon i.fa-css3-alt {
  color: #1572b6;
}

/* JavaScript */
.skills .Technologies .card .tech__icon i.fa-js {
  color: #f7df1e;
}

/* Git */
.skills .Technologies .card .tech__icon i.fa-git-alt {
  color: #f05033;
}

/* GitHub */
.skills .Technologies .card .tech__icon i.fa-github {
  color: #181717;
}

/* React */
.skills .Technologies .card .tech__icon i.fa-react {
  color: #61dafb;
}

/*heading of card*/
.skills .Technologies .card .heading {
  font-size: var(--font-size-20);
  user-select: none;
}
