:root {
    --container-width: 119rem;
    --gutter: 2rem;

    --color-black: #000;
    --color-white: #fff;
    --color-blue: #2374e1;
    --color-light-blue: #1d9bf0;
    --color-dark-blue: #0a66c2;
    --color-darker-blue: #143ce8;
    --color-red: #ff0000;
    --color-green: #03a696;
    --color-grey: #f6f6f6;
    --color-dark-green: #42959b;

    --color-background: var(--color-white);
    --color-text: var(--color-black);
    --color-box-img: var(--color-black);
    --color-link-bg: var(--color-black);
    --color-input-border: var(--color-black);

    --font-family-raleway: "Raleway", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --font-size-70: 7rem;
    --font-size-65: 6.5rem;
    --font-size-40: 4rem;
    --font-size-38: 3.8rem;
    --font-size-24: 2.4rem;
    --font-size-22: 2.2rem;
    --font-size-20: 2rem;
    --font-size-18: 1.8rem;
    --font-size-15: 1.5rem;
    --main-transition: 0.3s;

    /*margin*/
    --main-top-margin: 100px;
}

/*end reset css*/
/*global css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 11rem;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 1.6rem;
}

.section__header {
    font-size: var(--font-size-65);
    margin: 2rem 0;
    font-weight: bolder;
    text-transform: capitalize;
}

/*end global css*/
.container {
    margin: 0 auto;
    max-width: var(--container-width);
}

.header {
    padding: 3rem 0;
    position: sticky;
    top: 0;
    z-index: 120;
    background-color: #fff;
    border-bottom: 1px solid var(--color-input-border);
    box-shadow: 1px 1px 10px #777;
    border-radius: 0 0 1rem 1rem;
}

.header .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body:has(#bio:target) .nav__bio,
body:has(#skills:target) .nav__skills,
body:has(#media:target) .nav__media,
body:has(#projects:target) .nav__projects,
body:has(#clients:target) .nav__clients,
body:has(#contact:target) .nav__contact {
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}

.burger-menu__checkbox {
    display: none;
}
.header .container i{
    flex: 1;
    margin-left: 4rem;
    font-size: var(--font-size-38);

}
.small-width{
    display:flex;
    align-items: center;
    gap:12rem;
    
}
.header nav ul {
    display: flex;
    gap: 10px;
}

.header nav ul li {
    padding: 0.6rem 1.2rem;
}

.header nav ul li:hover {
    background-color: #fff;
}

.header nav ul li.a {
    transition: var(--main-transition);
}

/*toggle*/
.toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.toggle .toggle__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-18);
}

.checkbox {
    display: none;
}

.toggle__label {
    display: block;
    position: relative;
    width: 4.5rem;
    height: 2.5rem;
    background-color: var(--color-black);
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 0.3rem 0.4rem;
    transition: var(--main-transition);
}

.toggle__label:after {
    content: "";
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--color-white);
    border-radius: 50%;
    transition: var(--main-transition);
}

.toggle__label:focus::after {
    background-color: red;
}

.checkbox:checked+.toggle__label {
    background-color: var(--color-white);
}

.checkbox:checked+.toggle__label::after {
    transform: translateX(2rem);
    background-color: var(--color-black);
}

/*end toggle*/
/* bio */
.bio {
    height: calc(100vh - 85.89px);
}

.bio .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: calc(100vh - 85.89px);
}

.bio .container .content .bio__data {
    flex: 1;
}

.bio .container .bio__data .job_title {
    font-size: var(--font-size-70);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
    letter-spacing: 1.2px;
}

.bio .container .bio__data .description {
    font-size: var(--font-size-18);
    line-height: 1.6;
    margin: 1rem 0;
    color: var(--color-gray);
    text-transform: capitalize;
}

.bio .container .content .bio__data .sayHI,
.bio .container .content .bio__data .cv {
    margin-top: 50px;
    padding: 5px 20px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-22);
    transition: var(--main-transition);
    border-radius: 0.8rem;
}

.bio .container .content .bio__data .sayHI {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid #777;
}

.bio .container .content .bio__data .sayHI:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

.bio .container .content .bio__data .cv {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid #777;
    perspective: 600px;
}

.bio .container .content .bio__data .cv:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.bio .container .content .bio__data .cv i {
    transform-style: preserve-3d;
    display: inline-block;
}

.bio .container .content .bio__data .cv:hover>i {
    animation: click 0.9s linear infinite;
}

@keyframes click {

    0%,
    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: rotateX(25deg) rotateY(-12deg);
    }
}

/*img*/
.bio .bio_pic {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.bio .bio_pic img {
    width: 455px;
}

.bio .bio_pic::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 20px;
    z-index: -1;
}

.bio .bio_pic::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top,
            rgba(35, 116, 225, 0.5),
            transparent);
    transition: var(--main-transition);
}

.bio .bio_pic:hover::before {
    height: 70%;
    background-image: linear-gradient(to top,
            rgba(35, 116, 225, 0.8),
            transparent);
}

/*end bio section*/
/* start skills section */
.skills {
    margin-top: var(--main-top-margin);
    background-color: var(--color-grey);
    padding: 5rem;
    position: relative;
    z-index: 0;
}

.skills .Technologies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.skills .Technologies .card {
    text-align: center;
    text-transform: capitalize;
    background-color: var(--color-white);
    padding: 2rem 0;
    border-radius: 12px;
    position: relative;
    box-shadow: 1px 1px;

    transition: var(--main-transition);
}

.skills .Technologies .card:before,
.skills .Technologies .card:after {
    content: "";
    content: "";
    position: absolute;
    background-color: blue;
    width: calc(100% + 0.3rem);
    height: 0%;
    border-radius: inherit;
    transition: var(--main-transition);
    z-index: -1;
}

.skills .Technologies .card:before {
    top: 0;
    left: 0;
}

.skills .Technologies .card:after {
    bottom: 0;
    right: 0;
}

.skills .Technologies .card:hover {
    box-shadow: 1px 1px 5px black;
}

.skills .Technologies .card:hover::before,
.skills .Technologies .card:hover::after {
    height: 100%;
}

.skills .Technologies .card .tech__icon {
    font-size: var(--font-size-70);
}

/*color of icons*/

/* HTML */
.skills .Technologies .card .tech__icon i.fa-html5 {
    color: #e34f26;
}

/* CSS */
.skills .Technologies .card .tech__icon i.fa-css3-alt {
    color: #1572b6;
}

/* JavaScript */
.skills .Technologies .card .tech__icon i.fa-js {
    color: #f7df1e;
}

/* Git */
.skills .Technologies .card .tech__icon i.fa-git-alt {
    color: #f05033;
}

/* GitHub */
.skills .Technologies .card .tech__icon i.fa-github {
    color: #181717;
}

/* React */
.skills .Technologies .card .tech__icon i.fa-react {
    color: #61dafb;
}

/*heading of card*/
.skills .Technologies .card .heading {
    font-size: var(--font-size-20);
    user-select: none;
}

/* end skills section */
/* start media section */

.media {
    margin-top: var(--main-top-margin);
    margin-bottom: 100px;
}

.media .media__video {
    max-width: 100%;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 10px #777;
}

/**/
.projects {
    margin-top: var(--main-top-margin);
    background-color: var(--color-grey);
    padding: 5rem;
    position: relative;
    z-index: 0;
}

.projects .projects__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 6rem;
}

.projects .container .content .projects__item:first-child {
    margin-bottom: 100px;
}

/*projects__one-img*/
.projects .projects__item {
    position: relative;
    transition: var(--main-transition);
}

/* animation for sudo element  
.projects .projects__item:hover::before {
    animation: shap 1s 1;
    animation-fill-mode:;
}
.projects .projects__item:hover::after {
    animation: slideUp 1s 1;
    animation-fill-mode: backwards;
}
.projects .projects__item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-image: linear-gradient(to top , rgba(35, 116, 225, 0.8),
        transparent);
    z-index: 1;
    transition: var(--main-transition);
}

.projects .projects__item::after {
    content:"project one";
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-bold);
    color:var(--color-grey);
    transition: var(--main-transition);
    z-index: 2;
    opacity: 0;
}
@keyframes shap{
    0% , 50%{
        height: 50%;
    }
    100%{
        height: 0;
    }
}
@keyframes slideUp {
    0%,50% {
        transform:translateX(-135px) translateY(-102px);
        opacity: 1;
    }

    100% {
        transform: translateX(-135px) translateY(0);
        opacity: 0;
    }
}
/*animation for sudo element 
*/
.projects .projects__item .projects__img {
    overflow: hidden;
    border-radius: 0.9rem;
    transition: var(--main-transition);
    box-shadow: 0px 0px 0px var(--color-grey);
}

.projects .projects__item .projects__img:hover {
    box-shadow: 1px 1px 7px var(--color-black);
}

.projects .projects__item .projects__img .projects__img-image {
    max-width: 100%;
    filter: brightness(0.7);
    transition: var(--main-transition);
}

.projects .projects__item .projects__img:hover .projects__img-image {
    transform: rotate(1deg) scale(1.1);
    filter: brightness(1);
}

/*project__one-content*/
.projects .projects__item .projects__content {
    margin: auto 0;
}

.projects .projects__item .projects__content .projects__content-header .projects__content-header-text {
    font-size: var(--font-size-38);
    user-select: none;
}

.projects .projects__item .projects__content .projects__text {
    margin-top: 1rem;
    text-transform: capitalize;
}

.projects .projects__item .projects__content .projects__text .projects__text-txt,
.projects .projects__item .projects__content .projects__text .projects__text-link {
    color: gray;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    font-size: 2rem;
}

.projects .projects__item .projects__content .projects__text .projects__text-link .projects__text-link-anchor {
    padding: 1rem;
    color: var(--color-dark-blue);
    border: 0px solid #777;
    border-radius: 3rem;
    transition: 0.1s;
    font-weight: var(--font-weight-medium);
}

.projects .projects__item .projects__content .projects__text .projects__text-link .projects__text-link-anchor:hover {
    color: var(--color-darker-blue);
}

/* end media section */
/* my clients says section  */
.clients {
    margin-top: 1.5rem;
    padding: 5rem;
    position: relative;
    z-index: 0;
}

/*client content*/
.clients .clients__content .clients__opinion {
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 1rem;
    box-shadow: 1px 0px 5px #7777773d;
}

.clients .clients__content .clients__opinion .clients__warping {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.clients .clients__content .clients__text {
    font-size: var(--font-size-24);
    color: #777;
    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
}

/*end  my clients says section  */
/* start contact section  */
.contact {
    margin-top: 1.5rem;
    padding: 5rem;
    background-color: var(--color-grey);
    position: relative;
    z-index: 0;
}

/*client content*/
.contact .content {
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 1rem;
    box-shadow: 1px 0px 5px #7777773d;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact .content>* {
    flex: 1;
}

.contact .content .contact__text {
    min-width: 412px;
    text-transform: capitalize;
    font-size: var(--font-size-20);
    letter-spacing: 1.5px;
    line-height: 1.5;
    color: #777;
}

.contact .content .contact__text .contact__text-link .contact__text-link-anchr {
    padding: 1rem;
    color: var(--color-dark-blue);
    border: 0px solid #777;
    border-radius: 3rem;
    transition: 0.1s;
    font-weight: var(--font-weight-medium);
}

.contact .content .contact__text .contact__text-link .contact__text-link-anchr:hover {
    color: var(--color-darker-blue);
}

.contact .content .contact__text .contact__text-icon .icon__list {
    display: flex;
    gap: 1rem;
}

.contact .content .contact__text .contact__text-icon .icon__list i.fa-linkedin {
    color: #0a66c2;
}

.contact .content .contact__text .contact__text-icon .icon__list i.fa-github {
    color: #181717;
}

.contact .content .contact__text .contact__text-icon .icon__list i.fa-twitter {
    color: #1da1f2;
}

.contact .content .contact__text .contact__text-icon .icon__list i.fa-envelope {
    color: #ea4335;
}

.contact .content .contact__text .contact__text-icon .icon__list a:hover i {
    transform: scale(1.2);
    transition: 0.3s ease;
    opacity: 0.8;
}

/*start form artical*/
.contact .content .contact__form .contact__form-header {
    text-align: center;
}

.contact .content .contact__form .form__container {
    margin-top: 10rem;
}

.contact .content .contact__form .form__container input,
.contact .content .contact__form .form__container textarea {
    padding: 1rem 1rem 0.3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-radius: 1rem;
}

.contact .content .contact__form .form__container input {
    margin-right: 2rem;
}

.contact .content .contact__form .form__container textarea {
    margin-top: 1rem;
    width: 100%;
    resize: none;
}

.contact .content .contact__form .form__container .submit {
    text-transform: capitalize;
    padding: 1rem 2rem;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-18);
    cursor: pointer;
    border: 1px solid #777;
    transition: var(--main-transition);
}

.contact .content .contact__form .form__container .submit:hover {
    background-color: var(--color-white);
    border: 1px solid #777;
    color: #000;
}

/* end contact section  */
/* end main */
/* start footer */
footer .content {
    padding: 1.5rem 1rem;
    border-top: 1px solid;
    text-align: center;
    text-transform: capitalize;
}

/* end footer */
/* theme */
html:has(.checkbox:checked) {
    body {
        background-color: var(--color-black);
    }

    .header {
        background-color: var(--color-black);
        color: var(--color-white);
    }
.burger-menu__bar{
    background-color: var(--color-white)
}
    .header nav ul li:hover {
        background-color: var(--color-grey);
    }

    .bio .bio_pic::after {
        background-color: var(--color-grey);
    }

    .bio .container .content .bio__data,
    footer .content

    /*for text color in fotter*/
        {
        color: var(--color-white);
    }

    .black-mode {
        background-color: #1e1e1e;
        color: var(--color-white);
    }

    /*skills what my clients says section , contact section*/
    .skills .Technologies .card,
    /*for cards*/
    .clients .clients__content .clients__opinion,
    .contact .content {
        background-color: var(--color-black);
    }
}

/* end theme */

/* burger icon */
.burger-container {
    display: none;
    /* hidden by default */
    z-index: 130;
}

.burger-label {
    display: block;
    width: 3rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
}

.burger-label span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--color-black);
    margin: 0.4rem 0;
    transition: 0.4s;
}

/* transform burger to X */
.burger-checkbox:checked+.burger-label span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-checkbox:checked+.burger-label span:nth-child(2) {
    opacity: 0;
}

.burger-checkbox:checked+.burger-label span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/*responsive */
@media (max-width: 992px) {

    .bio .container .content .bio__data {
        text-align: center;
    }

    .bio .bio_pic {
        display: none;
    }
    /*init header for burger menu*/
    .header {
     padding: 0rem 0; 
        position: relative;
     z-index: 0;
   background-color: none;
     border-bottom: 0px solid var(--color-input-border); 
     box-shadow: 0px 0px 0px; 
     border-radius: 0 0 0rem 0rem; 
    header .container {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--color-input-border);
    box-shadow: 1px 1px 10px #777;
    border-radius: 0 0 1rem 1rem;
}
.header .container{
    padding:3rem 0;
    background-color: #fff;
    border-bottom: 1px solid var(--color-input-border);
    box-shadow: 1px 1px 10px #777;
    border-radius: 0 0 1rem 1rem;
}
    /*burger menu*/
    .burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 0.7rem;
    }

    .burger-menu__bar {
        height: 0.3rem;
        width: 4.375rem;
        background-color: var(--color-text);
        transition: var(--main-transition)
    }

   .header:has(.burger-menu__checkbox:checked) .burger-menu .burger-menu__bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

      .header:has(.burger-menu__checkbox:checked) .burger-menu .burger-menu__bar:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }

      .header:has(.burger-menu__checkbox:checked) .burger-menu .burger-menu__bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
    .small-width{
        position: absolute;
        z-index:-1;
    }
}

@media (max-width: 859px) {
    .projects .projects__item .projects__img {
        padding: 3.5rem;
        background-color: #a9a9a95b;
    }

    .projects .projects__item .projects__img .projects__img-image {
        border-radius: inherit;
    }

    .contact .content {
        text-align: center;
    }

    .contact .content .contact__text .contact__text-icon .icon__list {
        justify-content: center;
    }
}

@media (max-width: 445px) {
    .bio .container .bio__data .job_title {
        font-size: 5.5rem;
    }

    .contact .content .contact__text {
        min-width: auto
    }

    .section__header {
        font-size: 3.9rem;
    }

    .skills,
    .projects {
        padding: 1rem;
    }

    .projects .projects__item .projects__img {
        padding: 1rem;
    }
}