:root {
    --container-width: 119rem;
    --gutter: 2rem;

    --color-black: #000;
    --color-white: #fff;
    --color-blue: #2374e1;
    --color-light-blue: #1d9bf0;
    --color-dark-blue: #0a66c2;
    --color-darker-blue: #143ce8;
    --color-red: #ff0000;
    --color-green: #03a696;
    --color-grey: #f6f6f6;
    --color-dark-green: #42959b;

    --color-background: var(--color-white);
    --color-text: var(--color-black);
    --color-box-img: var(--color-black);
    --color-link-bg: var(--color-black);
    --color-input-border: var(--color-black);

    --font-family-raleway: "Raleway", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --font-size-70: 7rem;
    --font-size-65: 6.5rem;
    --font-size-40: 4rem;
    --font-size-38: 3.8rem;
    --font-size-24: 2.4rem;
    --font-size-22: 2.2rem;
    --font-size-20: 2rem;
    --font-size-18:1.8rem;
    --font-size-15:1.5rem
    --main-transition:0.3s;
    --main-transition:0.3s;

    /*margin*/
    --main-top-margin:100px;
}
/*css reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
}
a{
    color: inherit;
    display: inline-block;
    text-decoration: none;
}
button{
    background-color: transparent;
    border:none;
    cursor: pointer;
}
ul,
ol{
    list-style: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: "Work Sans", sans-serif;
    font-size: 1.6rem;
}
/*end reset css*/
.container{
    margin: 0 auto;
    max-width: var(--container-width);
}
.header{
    padding:3rem 0;
    position: relative;
    border-bottom: 1px solid var(--color-input-border);
    box-shadow: 1px 1px 10px #777;
}
.header .container{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul{
    display: flex;
    gap:10px
}
/*toggle*/
.toggle{
    display: flex;
    align-items: center;
    gap:1rem
}
.toggle .toggle__title{
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-18);
}
.checkbox{
    display: none;
}
.toggle__label{
    display: block;
    position: relative;
    width:4.5rem;
    height: 2.5rem;
    background-color: var(--color-black);
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 0.3rem 0.4rem;
    transition: var(--main-transition);
}
.toggle__label:after{
    content: "";
    display: block;
    width:1.6rem;
    height:1.6rem;
    background-color: var(--color-white);
    border-radius: 50%;
    transition: var(--main-transition);
}
.toggle__label:focus::after{
    background-color: red;
}
.checkbox:checked + .toggle__label{
    background-color: red
}
.checkbox:checked + .toggle__label::after{
    transform: translateX(2rem);
    background-color: var(--color-black);
}
/*end toggle*/
/* bio */
.bio{
    height: calc(100vh - 85.89px);
}
.bio .container .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    height: calc(100vh - 85.89px);}
.bio .container .content .bio__data {
    flex: 1;
}

.bio .container .bio__data .job_title{
    font-size: var(--font-size-70);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
    letter-spacing: 1.2px;
}
.bio .container .bio__data .description{
font-size: var(--font-size-18);
    line-height: 1.6;
    margin: 1rem 0;
    color: var(--color-gray);
    text-transform: capitalize;
}
.bio .container .content .bio__data .sayHI,
.bio .container .content .bio__data .cv{
    margin-top: 50px;
    padding: 5px 20px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-22);
    transition: var(--main-transition);
    border-radius: 0.8rem;
}
.bio .container .content .bio__data .sayHI {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid #777;
}

.bio .container .content .bio__data .sayHI:hover {
    background-color: var(--color-black);
    color: var(--color-white)
}
.bio .container .content .bio__data .cv {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid #777;
    perspective: 600px;
}

.bio .container .content .bio__data .cv:hover {
    background-color: var(--color-white);
    color: var(--color-black)
}
.bio .container .content .bio__data .cv i{
    transform-style: preserve-3d;
    display: inline-block;
}

.bio .container .content .bio__data .cv:hover > i{
animation: click 0.9s linear  infinite ;
}

@keyframes click {

    0%,
    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: rotateX(25deg) rotateY(-12deg);

    }
}
/*img*/
.bio .bio_pic {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.bio .bio_pic img{
    width: 455px;
}
.bio .bio_pic::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 20px;
    z-index: -1;
}
.bio .bio_pic::before{
    content:"";
    position: absolute;
    bottom: 0;
    width:100%;
    height: 50%;
    background-image: linear-gradient(to top , rgba(35, 116, 225, 0.5) ,transparent);
    transition: var(--main-transition);
}
.bio .bio_pic:hover::before{
    height: 70%;
    background-image: linear-gradient(to top, rgba(35, 116, 225, 0.8), transparent);
}
/*end bio section*/
/* start skills section */
.skills{
    margin-top: var(--main-top-margin);
    background-color: var(--color-grey);
    padding:5rem;
    position: relative;
    z-index: 0;
}
.skills .main__title{
    font-size: var(--font-size-65);
    margin: 2rem 0;
    font-weight: bolder;
}
.skills .Technologies{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    gap:30px
}
.skills .Technologies .card{
    text-align: center;
    text-transform:capitalize;
    background-color: var(--color-white);
    padding:2rem 0;
    border-radius: 12px;
    position:relative;
    box-shadow: 1px 1px;

    transition: var(--main-transition);
}
.skills .Technologies .card:before,
.skills .Technologies .card:after{
    content:"";
    content: "";
    position: absolute;
    background-color: blue;
    width: calc(100% + 0.3rem);
    height: 0%;
    border-radius: inherit;
    transition: var(--main-transition);
    z-index: -1;
}
.skills .Technologies .card:before{  
    top: 0;
    left: 0;
}
.skills .Technologies .card:after{
    bottom:0;
    right: 0;
}
.skills .Technologies .card:hover{
    box-shadow: 1px 1px 5px black;
}
.skills .Technologies .card:hover::before,
.skills .Technologies .card:hover::after{
    height:100%
}
.skills .Technologies .card .tech__icon{
    font-size: var(--font-size-70);
}
/*color of icons*/

/* HTML */
.skills .Technologies .card .tech__icon i.fa-html5 {
    color: #E34F26;
}

/* CSS */
.skills .Technologies .card .tech__icon i.fa-css3-alt {
    color: #1572B6;
}

/* JavaScript */
.skills .Technologies .card .tech__icon i.fa-js {
    color: #F7DF1E;
}

/* Git */
.skills .Technologies .card .tech__icon i.fa-git-alt {
    color: #F05033;
}

/* GitHub */
.skills .Technologies .card .tech__icon i.fa-github {
    color: #181717;
}

/* React */
.skills .Technologies .card .tech__icon i.fa-react {
    color: #61DAFB;
}
/*heading of card*/
.skills .Technologies .card .heading{
    font-size: var(--font-size-20);
    user-select: none;
}

/* end skills section */
/* start media section */

.media{
    margin-top:var(--main-top-margin);
    margin-bottom:100px;
}
.media .media__video{
    max-width:100%;
    border-radius: 1.5rem;
    box-shadow:2px 2px 10px #777;
}

/**/
.projects{
    margin-top: var(--main-top-margin);
    background-color: var(--color-grey);
    padding:5rem;
    position: relative;
    z-index: 0;
}
.projects .projects__header{
    font-size: var(--font-size-65);
    margin: 2rem 0;
    font-weight: bolder;
}
.projects .projects__item{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(350px , 1fr));
    gap:6rem;
}
/*projects__one-img*/
.projects .projects__item{
    position: relative;
}
/*animation for sudo element  */
.projects .projects__item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top , rgba(35, 116, 225, 0.8),
        transparent);
    z-index: 1;
}

.projects .projects__item::after {
    content
}

/*animation for sudo element  */
.projects .projects__item .projects__img{
    overflow: hidden;
    border-radius: 0.9rem;
    transition: var(--main-transition);
    box-shadow: 0px 0px 0px var(--color-grey);
}
.projects .projects__item .projects__img:hover{
    box-shadow: 1px 1px 7px var(--color-black);
}
.projects .projects__item .projects__img .projects__img-image{
max-width: 100%;
filter: brightness(0.7);
transition: var(--main-transition);
}
.projects .projects__item .projects__img:hover .projects__img-image{
    transform: rotate(1deg) scale(1.1);
    filter: brightness(1);
    
}
/*project__one-content*/
.projects .projects__item .projects__content{
    margin:auto 0;
}

.projects .projects__item .projects__content .projects__content-header .projects__content-header-text{
    font-size: var(--font-size-38);
    user-select: none;
}
.projects .projects__item .projects__content .projects__text{
    margin-top: 1rem;
    text-transform: capitalize;
}
.projects .projects__item .projects__content .projects__text .projects__text-txt,
.projects .projects__item .projects__content .projects__text .projects__text-link{
    color: gray;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    font-size: 2rem;


}
/* end media section */
